.centeredImage {
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4.5vw;
    text-align: center;
    margin-left: auto;
    margin-left: auto;
    margin-top: 50px;
}

.name {
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
    color: #23265a;
    font-weight: bold;
}

.body {
    /* background: linear-gradient(transparent, rgb(56, 56, 56)); */
    /* height: 2000px; */
    width: 100%;
    max-width: 100%;

}
.rowAbout {
    margin-top: 30px;
    width: 100%;
}






.rowStyle  {
    padding-left: 3%;
    padding-right: 3%;
    
    padding-top: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}



.subHeading {
    font-size: 70px;
    font-weight: bold;
    color: black;
    margin-top: 15px;
}



.smallerHeading {
    color: #787878;
    font-size: 25px;
}

.infoText {
    color: #787878;
    font-size: 17px;
}

.cellRegion {
    margin-left: 3%;
    margin-right: 7%;
    width: 100%;
    height: 80vh;
}
.cellRegionImage {
    text-align: center;
    margin-top: 40px;
    align-items: center;
    /* display: block; */
    
    width: 100%;
    height: 80vh;
    
}
#root {
    width: 100%;
}

.buttonResume {
    border-radius: 25px;
    background-color: transparent;
    color: #f57e0c;
    border: 1px solid #f57e0c;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    transition: 1s;
    padding-top: 4px;
    padding-bottom: 4px;

}
.buttonResume:hover {
    border-radius: 25px;
    background-color: #f57e0c;
    color: white;
    border: 1px solid #f57e0c;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    transition: 1s;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;


}


.projectsText {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    color: black;
    font-weight: bold;
}
.buttonDiv {
       margin-top: 50px;
       text-align: center;
       align-items: center;
   }

   .fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.projectCard {
    width: 80%;
    align-items: center;
    border-radius: 25px;
    height: 200px;
    background: url('../images/discoverTile.png') no-repeat;
    background-size: 100%;
    margin: 5%;
    transition: 0.3s;
    text-align: center;
    margin-left: 8%;

    
}
.projectCard2 {
    width: 80%;
    align-items: center;
    border-radius: 25px;
    height: 200px;
    background: url('../images/scholasticTile.png') no-repeat;
    background-size: 100%;
    margin: 5%;
    transition: 0.3s;
    text-align: center;
    margin-left: 8%;
    
}
.projectCard3 {
    width: 80%;
    align-items: center;
    border-radius: 25px;
    height: 200px;
    background: url('../images/brsTile.png') no-repeat;
    background-size: 100%;
    margin: 5%;
    transition: 0.3s;
    text-align: center;
    margin-left: 8%;

    
}
.projectCard4 {
    width: 80%;
    align-items: center;
    border-radius: 25px;
    height: 200px;
    background: url('../images/mixrTile.png') no-repeat;
    background-size: 100%;
    margin: 5%;
    transition: 0.3s;
    text-align: center;
    border: none;
    margin-left: 8%;

    
}
.projectCard:hover, .projectCard2:hover, .projectCard3:hover, .projectCard4:hover {
   opacity: 60%;
   transition: 0.3s;
   cursor: pointer;

}

.rowCard {
    width: 100%;
    align-items: center;
    text-align: center;
}

.row {
    width: 100%;
    
}

.footer {
    width: 100%;
    height: 250px;
    background-color: black;
    margin-top: 100px;
}


@media screen and (max-width: 600px) {
   .buttonDiv {
       margin-top: 10px;
       text-align: center;
   }
   .projectsText {
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
    }
    .cellRegion {
        margin-left: 5%;
        margin-right: 5%;
        width: 100%;
        height: 80vh;
    }
    .projectCard, .projectCard2, .projectCard3, .projectCard4 {
        margin-left: 12%
    }

    .cellRegionImage{ 
        margin-left: 9%
    }

    .buttonDiv {
        margin-left: 8%
    }
   
}